{% extends 'mainpages/layout.html' %}

{% block head %} 

{% endblock %}

{% block title %} Calculator {% endblock %}

{% block heading %} Calculator {% endblock%}



{% block content%}
<form action="" method="POST">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-7 col-md-5">
                <div class="row">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Select with Search</label>
                    </div>
                    <select class="selectpicker" data-style="btn-primary" data-width="auto" multiple data-selected-text-format="count > 2" data-live-search="true">
                        <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
                        <option data-tokens="mustard">Burger, Shake and a Smile</option>
                        <option data-tokens="frosting">Sugar, Spice and all things nice</option>
                    </select>
                    <br>
                    <div class="mt-3 col text-center">
                        <button class="btn btn-primary" type="submit">Add to menu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
  
{% endblock %}

{% block script %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/i18n/defaults-*.min.js"></script>
{% endblock %}